/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;

}

body {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    grid-template-rows: auto minmax(150px 200px) 50px;
    max-width: 80%;
    margin: 0 auto;

}

header {
    grid-column: 1/-1;
    width: 100%;
    /* height: 150px; */
    background-image:url(../bilder/bakgrunn.jpg);
    background-repeat: no-repeat;
   /* background-size: 100%;*/
    border-radius: 6px;
}

h1 {
    justify-content: center;
    color: antiquewhite;
    margin: auto;
}

header nav {
    align-self: flex-end;
    background-color: #000;
    width: 100%;
}

nav>a {
   /* display: flex;
    justify-content: flex-start;*/
    color: antiquewhite;
    font-weight: 600;
    text-decoration: none;
    padding: 1em 2em;
}
aside {
    grid-column: 2/-1;
    grid-row: auto; 
    display: flex;
    flex-direction: column;
    border-left: solid darkslategray 1px;

}
.asideSection {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 80%;
}

section>a{
    padding: 5px 10px;
    border: solid darkslategray 1px;
    border-radius: 6px 6px;
}

section> iframe {
    width: 80%;
    margin: 0 auto;
}



h3 {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}



main {
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;


}
.forsideArtikkel {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-between;
    margin-top: 3rem;
    border: solid 1px darkslategray;
    border-radius: 6px;
    

}

.forsideArtikkelBilder {
    width: 80%;
}

article p {
    padding: 30px 20px;
}

article figure {
    width: 80%;
}

figure>img {
    width: 100%;
}

footer {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: antiquewhite;
    height: 50px;
    border-radius: 6px;

}

footer>p {
    margin: auto 0;
}

